<link rel="stylesheet" href="/css/nav.css" />
<nav class="navbar">
  <div class="nav-logo">
    <img src="/assets/inst-logo.svg" alt="logo" />
    <img src="/assets/logo-name.svg" alt="name" />
  </div>
  <div class="nav-right">
    <div class="nav-help">
      <a href="#">Help and Support</a>
    </div>
    <div class="nav-logout">
      <button id="logout">
        <span>Logout</span>
        <img src="/assets/logout.svg" />
      </button>
    </div>
  </div>
</nav>
